<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div id="Grid" class="masonry">
          <% @collection.each_with_index do |resource, index| %>
            <div class="col-md-3 mix" data-cat="<%= index %>">
              <div class="gallery-item">
                <%= link_to staff_path(resource) do %>
                  <div class="gallery-thumb">
                    <%= image_tag resource.try(:profile).try(:avatar).url(:medium), alt: "#{resource.username}" %>
                  </div>
                <% end %>
                <%= link_to staff_path(resource) do %>
                  <div class="gallery-content hg-title">
                    <h6 class="gallery-title">
                      <%= resource.try(:profile).try(:full_name) %>
                    </h6>
                  </div>
                <% end %>
              </div> <!-- /.gallery-item -->
            </div> <!-- /.col-md-4 -->
          <% end %>
        </div> <!-- /#Grid -->
      </div> <!-- /.row -->
      <%= paginate @collection %>
    </div> <!-- /.col-md-9 -->
    <div class="col-md-4">
      <div class="list-group margin-top30">
        <a href="#" class="list-group-item active">
          Program Studi
        </a>
        <% @study_program.each do |resource| %>
          <%= link_to page_path(resource), class: 'list-group-item' do %>
            <%= resource.title %>
          <% end %>
        <% end %>
      </div>
      <%= render 'shareds/home/form_request' %>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->