<% @profile = resource.try(:profile) %>
<% @address = @profile.try(:address) %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item float-left full-width">
            <div class="col-md-3">
              <%= image_tag @profile.try(:avatar).url(:small), class: 'full-width' %>
            </div>
            <div class="col-md-9">
              <h4 align="center" class="margin-bottom20">
                Data Lengkap Staff Pengajar
              </h4>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row">Nama Lengkap</th>
                    <td><%= @profile.try(:full_name) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td>
                      <a href="mailto:<%= resource.try(:email) %>">
                        <%= resource.try(:email) %>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Jenis Kelamin</th>
                    <td><%= @profile.try(:gender) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Tanggal Lahir</th>
                    <td><%= @profile.try(:birthday).strftime("%B, %d, %Y") %></td>
                  </tr>
                  <tr>
                    <th scope="row">Phone</th>
                    <td><%= @profile.try(:phone) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Alamat</th>
                    <td><%= @address.try(:address) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Kota</th>
                    <td><%= @address.try(:city) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Provinsi</th>
                    <td><%= @address.try(:province) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Kode Pos</th>
                    <td><%= @address.try(:postcode) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group margin-top30">
        <a href="#" class="list-group-item active">
          Program Studi
        </a>
        <% @study_program.each do |resource| %>
          <%= link_to page_path(resource), class: 'list-group-item' do %>
            <%= resource.title %>
          <% end %>
        <% end %>
      </div>
      <%= render 'shareds/home/form_request' %>
    </div>
  </div>
</div>
