<div class="row-fluid">
  <div class="widget span4">
    <div class="widget-header">
      <i class="icon-lightbulb"></i>
      <h5>Recent Support Tickets</h5>
      <div class="widget-buttons">
          <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
      </div>
    </div>  
    <div class="widget-body" style="height:310px;overflow:hidden">
      <div class="widget-tickets clearfix slimscroll">
        <ul>
          <% @root_tickets.limit(20).each do |ticket| %>
            <li class="priority-high">
              <%= link_to backend_ticket_path(ticket) do %>
                <%= image_tag ticket.try(:user).try(:profile).try(:avatar).url(:small), class: 'avatar' %>
                <h5><%= ticket.try(:user).try(:profile).try(:full_name) %></h5>
                <p><%= ticket.title %></p>
                <div class="date"><%= ticket.try(:created_at).strftime("%H:%M %B, %d, %Y") %></div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div><!--/widget-body-->
    <div class="widget-footer">
      <%= link_to backend_tickets_path, class: "pull-right btn btn-small" do %>
        <i class="icon-plus"></i> Load More
      <% end %>
    </div>
  </div> <!-- /widget span5 -->

  <div class="widget span8">
    <div class="widget-header">
      <i class="icon-comment-alt"></i>
      <h5>Recent Comments</h5>
      <div class="widget-buttons">
        <a href="javascript:void(0)" class="collapse" data-collapsed="false">
          <i data-title="Collapse" class="icon-chevron-up"></i>
        </a>
      </div>
    </div>  
    <div class="widget-body" style="height:310px;overflow:hidden">
      <div class="widget-comments clearfix slimscroll">
        <ul>
          <% @root_comments.limit(10).each do |comment| %>
            <li>
              <%= image_tag comment.try(:user).try(:profile).try(:avatar).url(:small), class: "avatar" %>
              <div class="comment-bubble">
                <h4>
                  <%= comment.try(:user).try(:profile).try(:full_name) %> - <strong><%= comment.try(:user).try(:username) %></strong>
                </h4>
                <%= truncate comment.try(:comment), length: 45 %>
                <div class="date"><%= comment.try(:created_at).strftime("%H:%M %B, %d, %Y") %></div>
                <div class="settings">
                  <%= link_to comments_catalog_path(comment.commentable.slug, reply: true, to: comment.id), class: "tip" do %>
                    <i class="icon-reply"></i> More
                  <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div><!--/widget-body-->
    <div class="widget-footer">
      <%= link_to backend_comments_path, class: "pull-right btn btn-small" do %>
        <i class="icon-plus"></i> Load More
      <% end %>
    </div>
  </div> <!-- /widget span5 -->
</div> <!-- /row-fluid -->