<div class="control-group">
  <label class="control-label">Parent Category</label>
  <div class="controls">
    <%= f.collection_select(:parent_id, CategoryElearning.arrange_as_array({:order => 'name'}, 
                          @category_elearning.possible_parents), :id, :name_for_selects, {:prompt=> "Select Upline "}, {class: "form-control"})%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Name</label>
  <div class="controls">
    <%= f.text_field :name, class: 'form-control span7', required: true %> 
  </div>
</div>

