<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Description</label>
  <div class="controls">
    <%= f.cktext_area :description, ckeditor: {uiColor: '#AADC6E', toolbar: 'mini'} %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Place</label>
  <div class="controls">
    <%= f.text_field :place, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Event At</label>
  <div class="controls">
    <%= f.date_field :event_at, class: 'form-control span7', required: true %> 
  </div>
</div>