<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="widget-main">
        <div class="widget-inner">
          <div class="search-form-widget">
            <%= form_for :search, method: 'get', url: blogs_path do %>
              <%= text_field_tag :title, nil, class: "field_search", placeholder: 'Masukan Judul'%>
            <% end %>
          </div>
        </div>
      </div>

      <div class="widget-main">
        <div class="widget-main-title">
          <h4 class="widget-title">Kategori</h4>
        </div>
        <div class="widget-inner">
          <ul class="mixitup-controls">
            <% @category_blogs.each do |resource| %>
              <li>
                <%= link_to blogs_path(blog_category: resource.name) do %>
                  <%= resource.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div> <!-- /.widget-inner -->
      </div> <!-- /.widget-main -->
    </div> <!-- /.col-md-3 -->

    <div class="col-md-9">
      <div class="row">
        <% @collection.each_with_index do |resource, index| %>
          <div class="col-md-6 col-sm-6">
            <div class="blog-grid-item">
              <div class="blog-grid-thumb">
                <a href="#" class="cat-blog"><%= resource.try(:category_blog).try(:name) %></a>
                  <%= link_to blog_path(resource) do %>
                    <%= image_tag resource.file.url(:medium), alt: "#{resource.title}" %>
                  <% end %>
                </a>
              </div>
              <div class="box-content-inner">
                <h4 class="blog-grid-title">
                  <%= link_to "#{resource.title}", blog_path(resource) %>
                </h4>
                <p class="blog-grid-meta small-text">
                  <span><i class="fa fa-calendar"></i> <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></span> | 
                  <span><i class="fa fa-comments"></i> <%= resource.comments.size %> comments</span> |
                  <span><i class="fa fa-eye"></i> <%= resource.impressionist_count %> orang melihat ini</span>
                </p>
              </div> <!-- /.box-content-inner -->
            </div> <!-- /.blog-grid-item -->
          </div>
        <% end %>
      </div> <!-- /.row -->
      <%= paginate @collection %>
    </div> <!-- /.col-md-9 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->