<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.fields_for(:profile_attributes) do |profile| %>
    <fieldset>
      <div class="col-md-12">
        <div class="form-group margin-bottom20">
          <label class="control-label"></label>
          <div class="row">
            <% user_type.each do |t| %>
              <div class="col-md-6">
                <div class="bdr-type-user margin-bottom10">
                  <%= f.radio_button :type, t[1], required: true %>
                  <%= t[0] %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">*Fullname:</label>
          <div class="controls">
            <%= profile.text_field :full_name, class: "form-control", required: true %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">*Username:</label>
          <div class="controls">
            <%= f.text_field :username, class: "form-control", required: true %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">*Email:</label>
          <div class="controls">
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">Password:</label>
          <div class="controls">
            <%= f.password_field :password, class: "form-control password", required: true %>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label">*Password Confirmation:</label>
          <div class="controls">
            <%= f.password_field :password_confirmation, class: "form-control password", required: true %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">*Nim:</label>
          <div class="controls">
            <%= profile.text_field :nim, class: "form-control", required: true %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">*Tahun Angkatan:</label>
          <div class="controls">
            <%= profile.select :generation, options_for_select(user_generation), {:prompt=> "Pilih Tahun Angkatan "}, { class: 'form-control',required: true } %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">*Program Studi:</label>
          <div class="controls">
            <%= profile.select :study_program, options_for_select(user_program), {:prompt=> "Pilih Program Studi "}, { class: 'form-control',required: true } %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">*Gender:</label>
          <div class="controls">
            <%= profile.select :gender, options_for_select(sex), {:prompt=> "Select Gender "}, { class: 'form-control',required: true } %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">*Phone:</label>
          <div class="controls">
            <%= profile.text_field :phone, class: "form-control", required: true %>
          </div>
        </div>
      </div>

      <div>
        <div class="form-group">
          <label class="control-label"></label>
          <div class="controls">
            <%= f.submit 'SignUp', class: "btn btn-lg btn-primary btn-block btn-success"%>
          </div>
        </div>
      </div>

      <div class="br20"></div>
      <div class="row">
        <div class="col-md-12">
          Already Registered? <%= link_to "Log in", new_session_path(resource_name) %>
        </div>
      </div>
    </fieldset>
  <% end %>
<% end %>

