<div class="row-fluid">
  <%= render 'backend/shareds/breadcrumb' %>
  <h2 class="heading">
    <%= "#{action_name} #{form_name}" %>
    <div class="btn-group pull-right">
      <%= link_to new_resource_path do %>
        <button class="btn"><i class="icon-pencil"></i> Create New</button>
      <% end %>
      <%= link_to collection_path do %>
        <button class="btn"><i class="icon-list-alt"></i> List</button>
      <% end %>
    </div>
  </h2>
</div>

<div class="widget widget-padding">
  <div class="widget-header">
    <i class="icon-bookmark"></i>
    <h5><%= "#{action_name} #{form_name}" %></h5>
    <div class="widget-buttons">
      <a href="#" data-title="Collapse" data-collapsed="false" class="collapse">
        <i class="icon-chevron-up"></i>
      </a>
    </div>
  </div>

  <% if current_user.admin? || current_user.staff? %>
    <%= form_for [:backend, resource], method: form_method, html: {class: 'form-horizontal'} do |f| %>
      <div class="widget-body">
        <%= render partial: 'form', locals: { f: f } %>
      </div>
      <div class="widget-footer">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    <% end %>
  <% else %>
    <%= form_for [:user, resource], method: form_method, html: {class: 'form-horizontal'} do |f| %>
      <div class="widget-body">
        <%= render partial: 'form', locals: { f: f } %>
      </div>
      <div class="widget-footer">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    <% end %>
  <% end %>
</div>