<div class="sidebar-nav nav-collapse collapse">
  <div class="user_side clearfix">
    <%= image_tag current_user.try(:profile).try(:avatar).url(:small) %>
    <h5><%= current_user.username %></h5>
    <% unless current_user.staff? %>
      <%= link_to edit_backend_admin_path(current_user) do %>
        <i class="icon-cog"></i> Settings
      <% end %> 
    <% else %>
      <%= link_to edit_backend_staff_path(current_user) do %>
        <i class="icon-cog"></i> Settings
      <% end %> 
    <% end %> 
  </div>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to backend_home_path, class: "accordion-toggle b_F79999" do %>
          <i class="icon-dashboard"></i> DASHBOARD
        <% end %>
      </div>
    </div>
    <% unless current_user.staff? %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion10" href="#collapse10"><i class="icon-globe"></i> ABOUT STIE PGRI</a>
        </div>
        <div id="collapse10" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to backend_pages_path, class: "accordion-toggle #{active_sidebar?(:pages, :all)}" do %>
              <i class="icon-reorder"></i> List Landing Pages
            <% end %>
            <%= link_to backend_facilities_path, class: "accordion-toggle #{active_sidebar?(:facilities, :all)}" do %>
              <i class="icon-reorder"></i> List Facilities
            <% end %>
            <%= link_to backend_supporteds_path, class: "accordion-toggle #{active_sidebar?(:supporteds, :all)}" do %>
              <i class="icon-reorder"></i> List Supporteds
            <% end %>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"><i class="icon-group"></i> USERS</a>
        </div>
        <div id="collapse1" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to backend_admins_path, class: "accordion-toggle #{active_sidebar?(:admins, :all)}" do %>
              <i class="icon-reorder"></i> Admins
            <% end %>
             <%= link_to backend_staffs_path, class: "accordion-toggle #{active_sidebar?(:staffs, :all)}" do %>
              <i class="icon-reorder"></i> Staffs
            <% end %>
            <%= link_to backend_students_path, class: "accordion-toggle #{active_sidebar?(:students, :all)}" do %>
              <i class="icon-reorder"></i> Students
            <% end %>
            <%= link_to backend_alumnis_path, class: "accordion-toggle #{active_sidebar?(:alumnis, :all)}" do %>
              <i class="icon-reorder"></i> Alumnus
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion9" href="#collapse9"><i class="icon-exclamation-sign"></i> INFORMATIONS</a>
      </div>
      <div id="collapse9" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= link_to backend_news_index_path, class: "accordion-toggle #{active_sidebar?(:news, :all)}" do %>
            <i class="icon-reorder"></i> List News
          <% end unless current_user.staff? %>
          <%= link_to backend_events_path, class: "accordion-toggle #{active_sidebar?(:events, :all)}" do %>
            <i class="icon-reorder"></i> List Events
          <% end %>
          <%= link_to backend_academic_infos_path, class: "accordion-toggle #{active_sidebar?(:academic_infos, :all)}" do %>
            <i class="icon-reorder"></i> List Academic Infos
          <% end %>
          <%= link_to backend_announcements_path, class: "accordion-toggle #{active_sidebar?(:announcements, :all)}" do %>
            <i class="icon-reorder"></i> List Announcements
          <% end %>
        </div>
      </div>
    </div> 
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse4"><i class="icon-list-alt"></i> ARTICLES</a>
      </div>
      <div id="collapse4" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= link_to backend_categories_path, class: "accordion-toggle #{active_sidebar?(:categories, :all)}" do %>
            <i class="icon-reorder"></i> List Categories
          <% end %>
          <%= link_to new_backend_article_path, class: "accordion-toggle #{active_sidebar?(:articles, :new)}" do %>
            <i class=" icon-plus"></i> Create New
          <% end %>
          <%= link_to backend_articles_path, class: "accordion-toggle #{active_sidebar?(:articles, :all)}" do %>
            <i class="icon-reorder"></i> List Article
          <% end %>
        </div>
      </div>
    </div>   
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapse5"><i class="icon-th"></i> BLOGS</a>
      </div>
      <div id="collapse5" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= link_to backend_category_blogs_path, class: "accordion-toggle #{active_sidebar?(:category_blogs, :all)}" do %>
            <i class="icon-reorder"></i> List Categories
          <% end %>
          <%= link_to new_backend_blog_path, class: "accordion-toggle #{active_sidebar?(:blogs, :new)}" do %>
            <i class=" icon-plus"></i> Create New
          <% end %>
          <%= link_to backend_blogs_path, class: "accordion-toggle #{active_sidebar?(:blogs, :all)}" do %>
            <i class="icon-reorder"></i> List Blogs
          <% end %>
        </div>
      </div>
    </div>  
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapse7"><i class="icon-cloud-download"></i> DOWNLOADS</a>
      </div>
      <div id="collapse7" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= link_to new_backend_download_path, class: "accordion-toggle #{active_sidebar?(:downloads, :new)}" do %>
            <i class=" icon-plus"></i> Create New
          <% end %>
          <%= link_to backend_downloads_path, class: "accordion-toggle #{active_sidebar?(:downloads, :all)}" do %>
            <i class="icon-reorder"></i> List Downloads
          <% end %>
        </div>
      </div>
    </div> 
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion8" href="#collapse8"><i class="icon-laptop"></i> ELEARNINGS</a>
      </div>
      <div id="collapse8" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= link_to backend_category_elearnings_path, class: "accordion-toggle #{active_sidebar?(:category_elearnings, :all)}" do %>
            <i class="icon-reorder"></i> List Category Learnings
          <% end %>
          <%= link_to new_backend_e_learning_path, class: "accordion-toggle #{active_sidebar?(:e_learnings, :new)}" do %>
            <i class=" icon-plus"></i> Create New
          <% end %>
          <%= link_to backend_e_learnings_path, class: "accordion-toggle #{active_sidebar?(:e_learnings, :all)}" do %>
            <i class="icon-reorder"></i> List Elearnings
          <% end %>
        </div>
      </div>
    </div>
    <% unless current_user.staff? %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion12" href="#collapse12"><i class="icon-heart-empty"></i> JOB CENTER</a>
        </div>
        <div id="collapse12" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to new_backend_job_path, class: "accordion-toggle #{active_sidebar?(:jobs, :new)}" do %>
              <i class=" icon-plus"></i> Create New
            <% end %>
            <%= link_to backend_jobs_path, class: "accordion-toggle #{active_sidebar?(:jobs, :all)}" do %>
              <i class="icon-reorder"></i> List Jobs
            <% end %>
            <%= link_to backend_user_companies_path, class: "accordion-toggle #{active_sidebar?(:user_companies, :all)}" do %>
              <i class="icon-reorder"></i> List Companies
            <% end %>
          </div>
        </div>
      </div> 
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion13" href="#collapse13"><i class="icon-book"></i> LIBRARIES</a>
        </div>
        <div id="collapse13" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to new_backend_library_path, class: "accordion-toggle #{active_sidebar?(:libraries, :new)}" do %>
              <i class=" icon-plus"></i> Create New
            <% end %>
            <%= link_to backend_libraries_path, class: "accordion-toggle #{active_sidebar?(:libraries, :all)}" do %>
              <i class="icon-reorder"></i> List Libraries
            <% end %>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion11" href="#collapse11"><i class="icon-envelope"></i> GUEST BOOKS</a>
        </div>
        <div id="collapse11" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to new_backend_guest_book_path, class: "accordion-toggle #{active_sidebar?(:guest_books, :new)}" do %>
              <i class=" icon-plus"></i> Create New
            <% end %>
            <%= link_to backend_guest_books_path, class: "accordion-toggle #{active_sidebar?(:guest_books, :all)}" do %>
              <i class="icon-reorder"></i> List Guest Books
            <% end %>
          </div>
        </div>
      </div>  
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion11" href="#collapse28"><i class="icon-envelope"></i> COMMENTS</a>
        </div>
        <div id="collapse28" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to new_backend_comment_path, class: "accordion-toggle #{active_sidebar?(:comments, :new)}" do %>
              <i class=" icon-plus"></i> Create New
            <% end %>
            <%= link_to backend_comments_path, class: "accordion-toggle #{active_sidebar?(:comments, :all)}" do %>
              <i class="icon-reorder"></i> List Comments
            <% end %>
          </div>
        </div>
      </div>  
      <div class="accordion-group">
        <div class="accordion-heading">
          <%= link_to backend_web_settings_path, class: "accordion-toggle b_F5C294 #{active_sidebar?(:web_settings, :all)}" do %>
            <i class="icon-cogs"></i> SETTINGS
          <% end %>
        </div>
      </div> 
    <% end %>
  </div>
</div>
<!-- /Side menu -->