<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="logo"> 
        <%= link_to backend_home_path do %>
          <%= image_tag 'stie.png', style: "height: 35px;" %>
        <% end %>
      </div>
       <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
       <a class="btn btn-navbar slide_menu_left visible-tablet">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="top-menu visible-desktop">
        <% unless current_user.staff? %>
          <ul class="pull-left">
            <li>
              <a id="notifications" data-notification="<%= latest_comments.not_checked.size %>" href="#">
                <i class="icon-globe"></i> Notifications
              </a>
            </li>
          </ul>
        <% end %>
        <ul class="pull-right">
          <% unless current_user.staff? %>
            <li>
              <%= link_to '<i class="icon-wrench"></i>Settings'.html_safe, edit_backend_admin_path(current_user) %>
            </li>
          <% else %>
            <li>
              <%= link_to '<i class="icon-wrench"></i>Settings'.html_safe, edit_backend_staff_path(current_user) %>
            </li>
          <% end %>
          <li>
            <%= link_to '<i class="icon-off"></i>LogOut'.html_safe, destroy_user_session_path, method: 'delete' %>
          </li>
        </ul>
      </div>

      <div class="top-menu visible-phone visible-tablet">
        <ul class="pull-right">  
          <li>
            <a title="link to View all Messages page, no popover in phone view or tablet" href="#">
              <i class="icon-envelope"></i>
            </a>
          </li>
          <li>
            <a title="link to View all Notifications page, no popover in phone view or tablet" href="#">
              <i class="icon-globe"></i>
            </a>
          </li>
          <li><a href="login.html"><i class="icon-off"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>