<%= render 'backend/shareds/form_search_title' %>
<%= form_tag "#{collection_path}/action_multiple", method: 'post' do %>
  <%= render partial: "backend/shareds/prepare_table", 
              locals: {table_name: 'Articles', button_name: 'Articles', add_method: true } %>
    <div class="widget-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Action</th>
            <th>Title</th>
            <th>Status</th>
            <th>User</th>
            <th>Type</th>
            <th>Category</th>
            <th>Created At</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @collection.each do |resource| %>
            <tr>
              <td><%= check_box_tag "ids[]", resource.id %></td>
              <td><%= resource.title %></td>
              <td><%= resource.status? %></td>
              <td><b><%= resource.try(:user).try(:username) %></b></td>
              <td><%= resource.try(:category_type) %></td>
              <td><%= resource.try(:category).try(:name) %></td>
              <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
              <td class="text-center">
                <%= render partial: 'backend/shareds/prepare_action', 
                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination">
        <%= paginate @collection %>
      </div>
    </div>
  </div>
<% end %>
