<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-main">
            <div class="widget-inner">
              <div class="course-search">
                <h3>Cari File Download</h3>
                <%= form_for :search, method: 'get', url: downloads_path, 
                              html: {class: "course-search-form"} do %>
                  <% value_title = params[:title] if params[:title].present? %>
                  <%= text_field_tag :title, value_title, class: 'searchbox', placeholder: 'Masukan Judul/Nama Pengunggah' %>
                  <input class="mainBtn" value="Submit Search" type="submit" />
                <% end %>
              </div>
            </div> <!-- /.widget-inner -->
          </div> <!-- /.widget-main -->
        </div> <!-- /.col-md-12 -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="widget-main">
            <div class="widget-inner">
              <dl class="course-list" role="tablist">
                <% @collection.each do |resource| %>
                  <dt>
                    <i class="fa fa-caret-right ui-icon"></i>
                    <span class="level">Silahkan Download > </span>
                    <%= link_to document_download_download_path(resource) do %>
                      <i class="fa fa-download fa-lg"></i> <%= resource.title %>
                    <% end %>
                  </dt>
                <% end %>
              </dl>
              <%= paginate @collection %>
            </div> <!-- /.widget-inner -->
          </div> <!-- /.widget-main -->
        </div> <!-- /.col-md-12 -->
      </div>
    </div>

    <div class="col-md-4">
      <%= render 'shareds/home/our_side_right_info' %>
      <%= render 'shareds/home/our_testimonial' %>
      <%= render 'shareds/home/our_gallery' %>
    </div>
  </div>
</div>