<div class="control-group">
  <label class="control-label">Status Publish</label>
  <div class="controls">
    <%= f.select :category, options_for_select(landing_page_category, f.object.category), 
                        {:prompt=> "Select Category"}, { class: 'form-control', required: true }%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Description</label>
  <div class="controls">
    <%= f.cktext_area :description, ckeditor: {uiColor: '#AADC6E', toolbar: 'mini'} %>
  </div>
</div>
