<div class="control-group">
  <label class="control-label">Link URL</label>
  <div class="controls">
    <%= f.text_field :link_url, class: 'form-control span7' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">File Image</label>
  <div class="controls">
    <%= image_tag f.object.file.url(:medium) %><br>
    <%= f.file_field :file, class: 'form-control span7' %> 
  </div>
</div>