<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="widget-main">
        <div class="widget-main-title">
          <h4 class="widget-title">Pencarian</h4>
        </div>
        <div class="widget-inner">
          <%= form_for :search, method: 'get', url: students_path do %>
            <div class="form-group">
              <label>Masukan Nama atau Nim</label>
              <% value_name = params[:name] if params[:name].present? %>
              <%= text_field_tag :name, value_name, class: "form-control", placeholder: 'Masukan Name/Nim'%>
            </div>
            <div class="form-group">
              <label>Program Studi</label>
              <% value_study_program = params[:study_program] if params[:study_program].present? %>
              <%= select_tag :study_program, options_for_select(user_program, value_study_program), prompt: 'Pilih Program Studi', class: 'searchselect form-control' %>
            </div>
            <div class="form-group">
              <label>Tahun Angkatan</label>
              <% value_generation = params[:generation] if params[:generation].present? %>
              <%= select_tag :generation, options_for_select(user_generation, value_generation), prompt: 'Pilih Tahun Angkatan', class: 'searchselect form-control' %>
            </div>
            <input class="mainBtn margin-top10" value="Submit Search" type="submit">
          <% end %>
        </div> <!-- /.widget-inner -->
      </div> <!-- /.widget-main -->
    </div> <!-- /.col-md-3 -->

    <div class="col-md-9">
      <div class="row">
        <div id="Grid" class="masonry">
          <% @collection.each_with_index do |resource, index| %>
            <div class="col-md-3 mix" data-cat="<%= index %>">
              <div class="gallery-item">
                <%= link_to student_path(resource) do %>
                  <div class="gallery-thumb">
                    <%= image_tag resource.try(:profile).try(:avatar).url(:medium), alt: "#{resource.username}" %>
                  </div>
                <% end %>
                <%= link_to student_path(resource) do %>
                  <div class="gallery-content hg-title">
                    <h6 class="gallery-title">
                      <%= resource.try(:profile).try(:nim) %>
                    </h6>
                    <p><%= resource.try(:profile).try(:full_name) %></p>
                  </div>
                <% end %>
              </div> <!-- /.gallery-item -->
            </div> <!-- /.col-md-4 -->
          <% end %>
        </div> <!-- /#Grid -->
      </div> <!-- /.row -->
      <%= paginate @collection %>
    </div> <!-- /.col-md-9 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->