<% @profile = resource.try(:profile) %>
<% @address = @profile.try(:address) %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item float-left full-width">
            <div class="col-md-3">
              <%= image_tag @profile.try(:avatar).url(:small), class: 'full-width' %>
            </div>
            <div class="col-md-9">
              <h4 align="center" class="margin-bottom20">
                Data Lengkap <%= @profile.try(:nim) %>
              </h4>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row">NIM</th>
                    <td><b><%= @profile.try(:nim) %></b></td>
                  </tr>
                  <tr>
                    <th scope="row">Nama Lengkap</th>
                    <td><%= @profile.try(:full_name) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Email</th>
                    <td>
                      <a href="mailto:<%= resource.try(:email) %>">
                        <%= resource.try(:email) %>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Tahun Angkatan</th>
                    <td>Angkatan <%= @profile.try(:generation) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Program Studi</th>
                    <td><%= @profile.try(:study_program) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Jenis Kelamin</th>
                    <td><%= @profile.try(:gender) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Tanggal Lahir</th>
                    <td><%= @profile.try(:birthday).strftime("%B, %d, %Y") %></td>
                  </tr>
                  <tr>
                    <th scope="row">Phone</th>
                    <td><%= @profile.try(:phone) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Alamat</th>
                    <td><%= @address.try(:address) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Kota</th>
                    <td><%= @address.try(:city) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Provinsi</th>
                    <td><%= @address.try(:province) %></td>
                  </tr>
                  <tr>
                    <th scope="row">Kode Pos</th>
                    <td><%= @address.try(:postcode) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget-main">
        <div class="widget-main-title">
          <h4 class="widget-title">Pencarian</h4>
        </div>
        <div class="widget-inner">
          <%= form_for :search, method: 'get', url: students_path do %>
            <div class="form-group">
              <label>Masukan Nama atau Nim</label>
              <% value_name = params[:name] if params[:name].present? %>
              <%= text_field_tag :name, value_name, class: "form-control", placeholder: 'Masukan Name/Nim'%>
            </div>
            <div class="form-group">
              <label>Program Studi</label>
              <% value_study_program = params[:study_program] if params[:study_program].present? %>
              <%= select_tag :study_program, options_for_select(user_program, value_study_program), prompt: 'Pilih Program Studi', class: 'searchselect form-control' %>
            </div>
            <div class="form-group">
              <label>Tahun Angkatan</label>
              <% value_generation = params[:generation] if params[:generation].present? %>
              <%= select_tag :generation, options_for_select(user_generation, value_generation), prompt: 'Pilih Tahun Angkatan', class: 'searchselect form-control' %>
            </div>
            <input class="mainBtn margin-top10" value="Submit Search" type="submit">
          <% end %>
        </div> <!-- /.widget-inner -->
      </div> <!-- /.widget-main -->
    </div>
  </div>
</div>
