<div class="control-group">
  <label class="control-label">Favicon</label>
  <div class="controls">
    <%= image_tag f.object.favicon.url(:thumb) %><br>
    <%= f.file_field :favicon, class: 'form-control' %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Logo</label>
  <div class="controls">
    <%= image_tag f.object.logo.url(:medium), class: 'height-100' %><br>
    <%= f.file_field :logo, class: 'form-control' %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Contact</label>
  <div class="controls">
    <%= f.cktext_area :contact, ckeditor: {uiColor: '#AADC6E', toolbar: 'mini'} %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">
    <%= f.email_field :email, class: 'span7' %> 
  </div>
</div>

<div class="control-group">
  <label class="control-label">Facebook</label>
  <div class="controls">
    <%= f.text_field :facebook, class: 'span7' %> 
  </div>
</div>

<div class="control-group">
  <label class="control-label">Twitter</label>
  <div class="controls">
    <%= f.text_field :twitter, class: 'span7' %> 
  </div>
</div>


<div class="row-fluid margin-top20">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <i class="icon-bookmark"></i> 
      <h5>Meta For SEO</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
        <div class="control-group">
          <label class="control-label">Title</label>
          <div class="controls">
            <%= f.text_field :title, class: 'span7' %> 
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Description</label>
          <div class="controls">
            <%= f.cktext_area :description, ckeditor: {uiColor: '#AADC6E', toolbar: 'mini'} %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Keywords</label>
          <div class="controls">
            <%= f.text_field :keywords, class: 'span7' %> 
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Header Tags</label>
          <div class="controls">
            <%= f.text_area :header_tags, class: 'span7' %> 
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Footer Tags</label>
          <div class="controls">
            <%= f.text_area :footer_tags, class: 'span7' %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'form_gallery', locals: {f: f} %>
