<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-main">
            <div class="widget-inner">
              <div class="course-search">
                <h3>Cari Artikel dan Jurnal</h3>
                <%= form_for :search, method: 'get', url: articles_path, 
                              html: {class: "course-search-form"} do |f| %>
                  <% value_title = params[:title] if params[:title].present? %>
                  <%= text_field_tag :title, value_title, class: 'searchbox', placeholder: 'Masukan Judul' %>
                  <input class="mainBtn" value="Submit Search" type="submit" />
                  <div id="search_advanced" class="clearfix">
                    <p class="search-form-item">
                      <label class="alabel" for="Campus">Tipe Kategori:</label>
                      <% value_category_type = params[:category_type] if params[:category_type].present? %>
                      <%= select_tag :category_type, options_for_select(category_type_blog_articles, value_category_type), prompt: 'Silahkan Pilih', class: 'searchselect' %>
                    </p>
                    <p class="search-form-item" />
                      <label class="alabel" for="Discipline">Kategori:</label>
                      <% value_category_id = params[:category_id] if params[:category_id].present? %>
                      <%= select_tag :category_id, options_for_select(Category.latest.map{|c| [c.name, c.id]}, value_category_id), prompt: "Pilih Kategori" %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div> <!-- /.widget-inner -->
          </div> <!-- /.widget-main -->
        </div> <!-- /.col-md-12 -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="widget-main">
            <div class="widget-inner">
              <dl class="course-list" role="tablist">
                <% @collection.each do |resource| %>
                  <dt>
                    <i class="fa fa-caret-right ui-icon"></i>
                    <span class="level"><%= resource.try(:user).try(:username) %> </span>
                    <%= link_to article_path(resource) do %>
                      <span class="label label-success margin-right10">
                        <%= resource.try(:created_at).strftime("%B, %d, %Y") %>
                      </span> 
                      <%= resource.title %> 
                    <% end %>
                  </dt>
                <% end %>
              </dl>
              <%= paginate @collection %>
            </div> <!-- /.widget-inner -->
          </div> <!-- /.widget-main -->
        </div> <!-- /.col-md-12 -->
      </div>
    </div>

    <div class="col-md-4">
      <%= render 'shareds/home/our_side_right_info' %>
      <%= render 'shareds/home/our_testimonial' %>
      <%= render 'shareds/home/our_gallery' %>
    </div>
  </div>
</div>