<div class="widget-main">
  <div class="widget-inner">
    <div class="search-form-widget">
      <form name="search_form" method="get" action="#" class="search_form" />
        <input type="text" name="s" placeholder="Type and click enter to search..." title="Type and click enter to search..." class="field_search" />
      </form>
    </div>
  </div>
</div>

<div class="widget-main">
  <div class="widget-main-title">
    <h4 class="widget-title">Categories</h4>
  </div>
  <div class="widget-inner">
    <div class="blog-categories">
      <div class="row">
        <ul class="col-md-6">
          <li><a href="#">Business</a></li>
          <li><a href="#">Famliy</a></li>
          <li><a href="#">Government</a></li>
          <li><a href="#">Health</a></li>
        </ul>
        <ul class="col-md-6">
          <li><a href="#">Science</a></li>
          <li><a href="#">Student Achievements</a></li>
          <li><a href="#">Tech & Engineering</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>