<% if current_user %>
  <%= form_for @comment, method: 'post', url: comments_path, html: {class: 'request-info clearfix'} do |f| %>
    <%= f.hidden_field :commentable_type, value: "#{resource.class}" %>
    <%= f.hidden_field :commentable_id, value: "#{resource.id}" %>
    <div class="row">
      <div class="col-md-12">
        <div id="blog-author" class="clearfix">
          <a href="#" class="col-md-2">
            <%= image_tag current_user.try(:profile).try(:avatar).url, class: 'full-width' %>
          </a>
          <div class="col-md-10">
            <h4 class="author-name">
              <a href="#"><%= current_user.try(:username) %></a>
            </h4>
            <%= f.text_area :comment, class: 'form-control', row: 3 %>
            <input class="mainBtn pull-right margin-top10" type="submit" value="Kirim" />
          </div>
        </div> <!-- /.blog-author -->
      </div> <!-- /.col-md-12 -->
    </div>
  <% end %>
<% end %>

<% @comments.each do |resource| %>
  <div class="row">
    <div class="col-md-12">
      <div id="blog-author" class="clearfix">
        <a href="#" class="blog-author-img">
          <%= image_tag resource.try(:user).try(:profile).try(:avatar).url(:small), class: 'full-width' %>
        </a>
        <div class="blog-author-info">
          <h4 class="author-name">
            <a href="#"><%= resource.try(:user).try(:username) %></a>
          </h4>
          <i class="fa fa-calendar-o"></i>
          <span class="grey">
            dibuat : <%= resource.try(:created_at).strftime("%B, %d, %Y") %>
          </span>
          <p><%= resource.comment %></p>
        </div>
      </div> <!-- /.blog-author -->
    </div> <!-- /.col-md-12 -->
  </div>
<% end %>

<%= paginate @comments %>