<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Kontak Kami</h4>
          <p>
            <%= @setting.contact.html_safe if @setting.contact.present? %>
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Tentang Kami</h4>
          <ul class="list-links">
            <% @about_us.each do |resource| %>
              <li>
                <%= link_to page_path(resource) do %>
                  <%= resource.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Program Studi</h4>
          <ul class="list-links">
            <% @study_program.each do |resource| %>
              <li>
                <%= link_to page_path(resource) do %>
                  <%= resource.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-widget">
          <h4 class="footer-widget-title">Fasilitas</h4>
          <ul class="list-links">
            <% @facilities.each do |resource| %>
              <li>
                <%= link_to facility_path(resource) do %>
                  Fasilitas <%= resource.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-widget">
          <ul class="footer-media-icons">
            <li class="float-right"><a href="<%= @setting.facebook %>" class="fa fa-facebook"></a></li>
            <li class="float-right"><a href="<%= @setting.twitter %>" class="fa fa-twitter"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bottom-footer">
      <div class="row">
        <div class="col-md-5">
          <p class="small-text">
            <%= @setting.footer_tags.html_safe if @setting.footer_tags %>
          </p>
        </div> 
        <div class="col-md-7">
          <ul class="footer-nav">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Tentang Kami', pages_path %></li>
            <li><%= link_to 'Perpustakaan', libraries_path %></li>
            <li><%= link_to 'E-learning', e_learnings_path %></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>
