<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 header-left dark-blue">
        <div class="row">
          <div class="col-md-12">
            <i class="fa fa-envelope"></i>
            <a href="mailto:<%= @setting.email %>"> <%= @setting.email %></a>
          </div>
          <div class="col-md-12">
            <i class="fa fa-tags"></i> Jl.Pramuka II NO.10, Kota Sukabumi
          </div>
          <div class="col-md-12">
            <i class="fa fa-phone"></i> +62 266 6250706
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag @setting.try(:logo).url(:large), class: "full100" %>
          <% end %>
        </div>
      </div>

      <div class="col-md-4 header-right">
        <ul class="small-links">
          <li><a href="http://jurnal.stiepgri.ac.id/" target="_blank">E-Jurnal</a></li>
          <li><%= link_to 'Perpustakaan', libraries_path %></li>
          <li><%= link_to 'E-learning', e_learnings_path %></li>
          <li><%= link_to 'Kontak Kami', contact_us_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="nav-bar-main" role="navigation">
    <div class="container">
      <nav class="main-navigation clearfix visible-md visible-lg" role="navigation">
        <ul class="main-menu sf-menu">
          <li><a href="#">Tentang Kami</a>
            <ul class="sub-menu">
              <% @about_us.each do |resource| %>
                <li>
                  <%= link_to page_path(resource) do %>
                    <%= resource.title %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li><a href="#">Program Studi</a>
            <ul class="sub-menu">
              <% @study_program.each do |resource| %>
                <li>
                  <%= link_to page_path(resource) do %>
                    <%= resource.title %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li><a href="#">Fasilitas</a>
            <ul class="sub-menu">
              <% @facilities.each do |resource| %>
                <li>
                  <%= link_to facility_path(resource) do %>
                    Fasilitas <%= resource.title %>
                  <% end %>
                </li>
              <% end %>
              <li><%= link_to 'Downloads', downloads_path %></li>
            </ul>
          </li>
          <li><a href="#">Artikel</a>
            <ul class="sub-menu">
              <li><%= link_to 'Artikel',articles_path(category_type: 'Article') %></li>
              <li><%= link_to 'Jurnal',articles_path(category_type: 'Journal') %></li>
            </ul>
          </li>
          <li><%= link_to 'Jobs Placement Center',rekruitment_path %></li>
          <li><a href="#">Student</a>
            <ul class="sub-menu">
              <li><%= link_to 'Mahasiswa',students_path %></li>
              <li><%= link_to 'Alumni',alumnis_path %></li>
            </ul>
          </li>
          <li><%= link_to 'Staff Pengajar',staffs_path %></li>
          <li><%= link_to 'Blogs',blogs_path %></li>
        </ul>

        <ul class="social-icons pull-right">
          <li><a href="<%= @setting.facebook %>" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="<%= @setting.twitter %>" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>