<%= favicon_link_tag @setting.favicon.url(:thumb) %>
<meta name="description" content="<%= @setting.description %>">
<meta name="author" content="<%= @setting.title %>">
<meta name='keywords' content="<%= @setting.keywords %>">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800' rel='stylesheet' type='text/css'>
<link href="<%= request.original_url %>" rel="canonical">
<title><%= @setting.title %></title> 
<meta property="article:publisher" content="<%= @setting.facebook %>"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png" />