<div class="list-group margin-top30">
  <a href="#" class="list-group-item active">
    JPC MENU
  </a>
  <%= link_to 'Informasi Lowongan Kerja', jobs_path, class: 'list-group-item' %>
  <%= link_to 'Data Perusahaan', user_companies_path, class: 'list-group-item' %>
  <%= link_to 'Login Perusahaan', new_user_session_path, class: 'list-group-item' %>
  <%= link_to 'Registrasi Perusahaan', new_user_company_path, class: 'list-group-item' %>
  </ul>
</div>