<div class="responsive-navigation visible-sm visible-xs">
  <a href="#" class="menu-toggle-btn">
    <i class="fa fa-bars"></i>
  </a>
  <div class="responsive_menu">
    <ul class="main_menu">
      <li><%= link_to 'Home',root_path %></li>
      <li><a href="#">Program Studi</a>
        <ul>
          <% @study_program.each do |resource| %>
            <li>
              <%= link_to page_path(resource) do %>
                <%= resource.title %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
      <li><a href="#">Fasilitas</a>
        <ul>
          <% @facilities.each do |resource| %>
            <li>
              <%= link_to facility_path(resource) do %>
                Fasilitas <%= resource.title %>
              <% end %>
            </li>
          <% end %>
          <li><%= link_to 'Downloads', downloads_path %></li>
        </ul>
      </li>
      <li><a href="#">Artikel</a>
        <ul>
          <li><%= link_to 'Artikel',articles_path(category_type: 'Article') %></li>
          <li><%= link_to 'Jurnal',articles_path(category_type: 'Journal') %></li>
        </ul>
      </li>
      <li><%= link_to 'Jobs Placement Center',rekruitment_path %></li>
      <li><a href="#">Student</a>
        <ul class="sub-menu">
          <li><%= link_to 'Mahasiswa',students_path %></li>
          <li><%= link_to 'Alumni',alumnis_path %></li>
        </ul>
      </li>
      <li><%= link_to 'Staff Pengajar',staffs_path %></li>
      <li><%= link_to 'Blogs',blogs_path %></li>
    </ul> <!-- /.main_menu -->
    <ul class="social_icons">
      <li><a href="<%= @setting.facebook %>"><i class="fa fa-facebook"></i></a></li>
      <li><a href="<%= @setting.twitter %>"><i class="fa fa-twitter"></i></a></li>
    </ul> <!-- /.social_icons -->
  </div>
</div>
