<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item">
            <h2 class="welcome-text">Kontak Kami</h2>
            <p>
              <%= @setting.contact.html_safe if @setting.contact.present? %>
            </p>
          </div>
          <div class="widget-item">
            <h2 class="welcome-text">Form Buku Tamu</h2>
            <div class="request-information">
              <h4 class="widget-title">Buku Tamu</h4>
              <%= form_for GuestBook.new, method: 'post', url: guest_books_path, html: {class: 'request-info clearfix'} do |f| %>
                <div class="full-row">
                  <label for="yourname">Nama:</label>
                  <%= f.text_field :name, required: true %>
                </div>
                <div class="full-row">
                  <label for="email-id">Alamat Email:</label>
                  <%= f.email_field :email, required: true %>
                </div>
                <div class="full-row">
                  <label for="email-id">Pesan:</label>
                  <%= f.text_area :message, class: 'form-control', style: 'height: 105px;' %>
                </div>
                <div class="full-row">
                  <%= recaptcha_tags %>
                </div>
                <div class="full-row">
                  <div class="submit_field">
                    <span class="small-text pull-left"></span>
                    <input class="mainBtn pull-right" type="submit" name="" value="Kirim Pesan" />
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group margin-top30">
        <a href="#" class="list-group-item active">
          Tentang Kami
        </a>
        <% @about_us.each do |resource| %>
          <%= link_to page_path(resource), class: 'list-group-item' do %>
            <%= resource.title %>
          <% end %>
        <% end %>
      </div>
      <div class="list-group margin-top30">
        <a href="#" class="list-group-item active">
          Program Studi
        </a>
        <% @study_program.each do |resource| %>
          <%= link_to page_path(resource), class: 'list-group-item' do %>
            <%= resource.title %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

    