<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <%= render 'shareds/home/slide_news' %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item">
            <h2 class="welcome-text"><%= @setting.title %></h2>
            <p><%= @setting.description.html_safe if @setting.description %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= render 'shareds/home/latest_academic' %>
        </div>
        <div class="col-md-6">
          <%= render 'shareds/home/latest_events' %>
        </div>
      </div>
      <div class="row">
        <%= render 'shareds/home/our_prodi' %>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'shareds/home/form_request' %>
      <%= render 'shareds/home/our_side_right_info' %>
      <%= render 'shareds/home/our_testimonial' %>
      <%= render 'shareds/home/our_gallery' %>
    </div>
  </div>
</div>