<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'shareds/side_left_job' %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item">
            <h2 class="welcome-text">JPC STIE PGRI SUKABUMI</h2>
            <p>JPC-STIE YKPN adalah pusat informasi lowongan pekerjaan dan pusat kegiatan rekruitmen kebutuhan sumber daya manusia dari ribuan perusahaan yang bekerjasama dengan STIE YKPN. Layanan JPC bertempat di Lantai Basement Gedung Pusat Kampus STIE YKPN. JPC bertugas menjalin komunikasi, menjalin relasi dan menjalin kerjasama dengan para pemakai lulusan STIE YKPN. Kegiatan rutin JPC antara lain adalah:
            1.  Recruitment on Campus. Lebih dari 600 perusahaan telah menjalin kerjasama dengan JPC STIE YKPN dalam melakukan rekruitmen kebutuhan sumber daya manusia. Hampir setiap hari terdapat perusahaan yang melakukan tes seleksi dan rekruitmen.
            2.  Job Fair. Job fair adalah kegiatan rutin yang diselenggarakan oleh JPC satu kali setiap semester. Job fair diadakan beberapa hari setelah acara wisuda sarjana, pascasarjana dan PPA. Kegiatan ini bertujuan untuk menemukan secara langsung antara perusahaan-perusahaan pengguna lulusan STIE YKPN dengan para lulusan STIE YKPN setelah diwisuda.
            3.   Preparation TOEFL Test. Kegiatan tes TOEFL diadakan untuk setiap mahasiswa dan wajib diikuti oleh mahasiswa baru. Dengan mengikuti test TOEFL secara rutin, diharapkan setiap mahasiswa STIE YKPN akan memiliki skor TOEFL melebihi skor minimum yang sering dipersyaratkan oleh perusahaan ketika melakukan seleksi karyawan.
            4.   Vocational Trainning. Kegiatan pelatihan ini dilaksanakan secara rutin menjelang wisuda yang diikuti oleh calon wisudawan. Kegiatan ini antara lain berupa pelatihan discussion group, interview preparation, dan lain-Iain yang diisi oleh para praktisi maupun alumni.
            5.   Magang di Perusahaan. Kesempatan magang di perusahaan dapat diikuti oleh setiap mahasiswa di setiap semester. Persyaratan magang disesuaikan dengan kriteria yang ditetapkan oleh perusahaan yang dipilih oleh mahasiswa.
            6.  Workshop. Kegiatan workshop bersifat tematik yang diadakan oleh para praktisi yang ahli di bidangnya, seperti perpajakan, marketing, teknologi informasi, dan lain-Iain.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
