<%= render 'user/shareds/home/overview_boxes' %>
<%#= render 'backend/shareds/home/weekly_statistics' %>
<%# render 'backend/shareds/home/quick_buttons' %>
<%#= render 'backend/shareds/home/overview_activity' %>
<%# render 'backend/shareds/home/bar_quick' %>
<%# render 'backend/shareds/home/bar_chart' %>
