<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'shareds/side_left_job' %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item">
            <h2 class="welcome-text" align="center">Data Perusahaan</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="row">Nama Perusahaan</th>
                  <th scope="row">Alamat</th>
                  <th scope="row">Telepon</th>
                  <th scope="row">Website</th>
                </tr>
              </thead>
              <tbody>
                <% @collection.each do |resource| %>
                  <tr>
                    <th scope="row">
                      <%= resource.try(:company).try(:name) %>
                    </th>
                    <td><%= resource.try(:company).try(:address) %></td>
                    <td><%= resource.try(:company).try(:phone) %></td>
                    <td>
                      <a href="<%= resource.try(:company).try(:website) %>">
                        <%= resource.try(:company).try(:website) %>
                      </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= paginate @collection %>
    </div>
  </div>
</div>
