<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'shareds/side_left_job' %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item float-left full-width">
            <h2 class="welcome-text" align="center">
              Registrasi Perusahaan 
            </h2>
            <%= form_for @user_company, method: 'post' do |f| %>
              <%= f.fields_for(:profile_attributes) do |profile| %>
                <%= f.fields_for(:company_attributes) do |company| %>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">*Fullname:</label>
                      <div class="controls">
                        <%= profile.text_field :full_name, class: "form-control", required: true %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">*Username:</label>
                      <div class="controls">
                        <%= f.text_field :username, class: "form-control", required: true %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">*Email:</label>
                      <div class="controls">
                        <%= f.email_field :email, class: "form-control", required: true %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">*Password:</label>
                      <div class="controls">
                        <%= f.password_field :password, class: "form-control password", required: true %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">*Password Confirmation:</label>
                      <div class="controls">
                        <%= f.password_field :password_confirmation, class: "form-control password", required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">*Nama Perusahaan:</label>
                      <div class="controls">
                        <%= company.text_field :name, class: "form-control", required: true %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">*Alamat:</label>
                      <div class="controls">
                        <%= company.text_field :address, class: "form-control", required: true %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">*Telepon:</label>
                      <div class="controls">
                        <%= company.text_field :phone, class: "form-control", required: true %>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">*Website:</label>
                      <div class="controls">
                        <%= company.text_field :website, class: "form-control", required: true %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="controls">
                        <input type="submit" class="btn btn-info float-right" value="REGISTER" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
