<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'shareds/side_left_job' %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item">
            <h2 class="welcome-text" align="center">Informasi Lowongan Pekerjaan</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="row">Lowongan</th>
                  <th scope="row">Posisi</th>
                  <th scope="row">Mulai dari tanggal</th>
                  <th scope="row">Berakhir</th>
                </tr>
              </thead>
              <tbody>
                <% @collection.each do |resource| %>
                  <tr>
                    <th scope="row">
                      <%= link_to job_path(resource) do %> 
                        <%= resource.title %>
                      <% end %>
                    </th>
                    <td><%= resource.position %></td>
                    <td><%= resource.try(:start_at).strftime("%H:%M %B, %d, %Y") if resource.start_at %></td>
                    <td><%= resource.try(:end_at).strftime("%H:%M %B, %d, %Y") if resource.end_at %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%= paginate @collection %>
    </div>
  </div>
</div>
