<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'shareds/side_left_job' %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item">
            <%= image_tag resource.try(:image).url, class: 'full-width' %>
            <h2 class="welcome-text" align="center">
              <%= resource.title %>
            </h2>
            <h4 align="center">Posisi <%= resource.position %></h4>
            <p><%= resource.description.html_safe if resource.description.present? %></p>
            <br><br>
            <b>Website : </b> <a href="<%= resource.website %>"><%= resource.website %></a><br>
            <b>Berlaku Mulai :</b> <%= resource.try(:start_at).strftime("%B, %d, %Y") if resource.start_at %><br>
            <b>Berakhir :</b> <%= resource.try(:end_at).strftime("%B, %d, %Y") if resource.end_at %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
