<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Position</label>
  <div class="controls">
    <%= f.text_field :position, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">File Image</label>
  <div class="controls">
    <%= image_tag f.object.image.url(:medium) %><br>
    <%= f.file_field :image, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Description</label>
  <div class="controls">
    <%= f.cktext_area :description, ckeditor: {uiColor: '#AADC6E', toolbar: 'mini'} %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Start At</label>
  <div class="controls">
    <%= f.date_field :start_at, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Event At</label>
  <div class="controls">
    <%= f.date_field :end_at, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Website</label>
  <div class="controls">
    <%= f.text_field :website, class: 'form-control span7', required: true %> 
  </div>
</div>