<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	 
  <fieldset>
    <div class="form-group margin-top20">
      <div class="col-xs-12 padding0" style=" margin-left: 0px; ">
        <h4 align="center">Forgot your password?</h4>
      </div>
    </div>
    <div class="form-group">
      <div class="controls">
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <div class="controls">
        <%= f.submit 'Send me reset password instructions',  class: "btn btn-lg btn-primary btn-block" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12 padding0">
        <%= render "devise/shared/links" %>
      </a> 
    </div>
  </div>
  </fieldset>
<% end %>

