<%= form_tag "#{collection_path}/action_multiple", method: 'post' do %>
  <%= render partial: "backend/shareds/prepare_table", 
              locals: {table_name: 'Jobs', button_name: 'Jobs', add_method: true } %>
    <div class="widget-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Action</th>
            <th>Title</th>
            <th>Position</th>
            <th>Status</th>
            <th>Star At</th>
            <th>End At</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @collection.each do |resource| %>
            <tr>
              <td><%= check_box_tag "ids[]", resource.id %></td>
              <td><%= resource.title %></td>
              <td><%= resource.position %></td>
              <td><%= resource.status? %></td>
              <td><%= resource.try(:start_at).strftime("%B, %d, %Y") if resource.start_at %></td>
              <td><%= resource.try(:end_at).strftime("%B, %d, %Y") if resource.end_at %></td>
              <td class="text-center">
                <%= render partial: 'backend/shareds/prepare_action', 
                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination">
        <%= paginate @collection %>
      </div>
    </div>
  </div>
<% end %>
