<div class="control-group">
  <label class="control-label">Status Publish</label>
  <div class="controls">
    <%= f.check_box :status, class: 'span1' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Name</label>
  <div class="controls">
    <%= f.text_field :name, class: 'form-control span7' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">
    <%= f.email_field :email, class: 'form-control span7' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Message</label>
  <div class="controls">
    <%= f.cktext_area :message, ckeditor: {uiColor: '#AADC6E', toolbar: 'mini'} %>
  </div>
</div>
