<div class="row-fluid">
  <%= render 'backend/shareds/breadcrumb' %>
  <h2 class="heading">
    Guest Book
  </h2>
</div>

<div class="widget widget-padding">
  <div class="widget-header">
    <i class="icon-list-alt"></i>
    <h5>Show Guest Book</h5>
    <div class="widget-buttons">
      <a href="#" data-title="Collapse" data-collapsed="false" class="collapse">
        <i class="icon-chevron-up"></i>
      </a>
    </div>
  </div>
	<div class="widget-body">
		<table class="table table-striped">
      <tbody>
        <tr>
        	<td><b>Name</b></td>
          <td><%= resource.name %></td>
        </tr>
        <tr>
          <td><b>Email</b></td>
          <td><a href="mailto:<%= resource.email %>"><%= resource.email %></a></td>
        </tr>
        <tr>
          <td><b>Message</b></td>
          <td><%= resource.message %></td>
        </tr>
        <tr>
          <td><b>Created At</b></td>
          <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
        </tr>
      </tbody>
    </table>
	</div>
</div>