<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Author</label>
  <div class="controls">
    <%= f.text_field :author, class: 'form-control span7' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Publisher</label>
  <div class="controls">
    <%= f.text_field :publisher, class: 'form-control span7' %> 
  </div>
</div>
