<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="widget-main">
        <div class="widget-main-title">
          <h4 class="widget-title">Fasilitas Kategori</h4>
        </div>
        <div class="widget-inner">
          <ul class="mixitup-controls">
            <% @facilities.each do |resource| %>
              <li>
                <%= link_to facility_path(resource) do %>
                  Fasilitas <%= resource.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div> <!-- /.widget-inner -->
      </div> <!-- /.widget-main -->
      
      <div class="widget-main">
        <div class="widget-main-title">
          <h4 class="widget-title">Sort Controls</h4>
        </div>
        <div class="widget-inner">
          <ul class="mixitup-controls">
            <li class="sort active" data-sort="default" data-order="desc">Default</li>
            <li class="sort" data-sort="data-cat" data-order="asc">Ascending</li>
            <li class="sort" data-sort="data-cat" data-order="desc">Descending</li>
            
          </ul>
        </div> <!-- /.widget-inner -->
      </div> <!-- /.widget-main -->
    </div> <!-- /.col-md-3 -->

    <div class="col-md-9">
      <div class="row">
        <h3 align="center">Fasilitas <%= resource.title %></h3>
        <div id="Grid" class="masonry">
          <% resource.galleries.each_with_index do |resource, index| %>
            <div class="col-md-4 mix" data-cat="<%= index %>">
              <div class="gallery-item">
                <a class="fancybox" rel="gallery1" href="<%= resource.file.url(:large)%>">
                  <div class="gallery-thumb">
                    <%= image_tag resource.file.url(:thumb), alt: "#{resource.title}", style: 'height:100%' %>
                  </div>
                  <div class="gallery-content">
                    <h4 class="gallery-title"><%= resource.title %></h4>
                  </div>
                </a>
              </div> <!-- /.gallery-item -->
            </div> <!-- /.col-md-4 -->
          <% end %>
        </div> <!-- /#Grid -->
      </div> <!-- /.row -->
    </div> <!-- /.col-md-9 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->