<% unless current_user.staff? %>
  <div class="control-group">
    <label class="control-label">Status Publish</label>
    <div class="controls">
      <%= f.check_box :status, class: 'span1' %> 
    </div>
  </div>
<% end %>
<div class="control-group">
  <label class="control-label">Category</label>
  <div class="controls">
    <%= f.collection_select(:category_learning_id, CategoryElearning.arrange_as_array({:order => 'name'}, nil), :id, :name_for_selects, {:prompt=> "Choice Category"}, {class: "form-control span5", required: true})%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">File Document</label>
  <div class="controls">
    <% if resource.file.present? %>
      <%= link_to document_download_backend_article_path(resource) do %>
        <%= resource.file_file_name %>
      <% end %><br>
    <% end %>
    <%= f.file_field :file, required: true %> 
  </div>
</div>
