<div class="widget widget-padding">
  <div class="filter margin-top20">
    <%= form_for :search, method: 'get', url: collection_path do |f| %>
      <div class="row-fluid">
        <div class="widget-forms clearfix">
          <div class="control-group">
            <label class="control-label">Search Results <b><%= collection.size %></b></label>
            <div class="controls">
              <%= f.text_field :title, class: "span6" %>
              <%= submit_tag :search, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= form_tag "#{collection_path}/action_multiple", method: 'post' do %>
  <%= render partial: "backend/shareds/prepare_table", 
              locals: {table_name: 'E Learnings', button_name: 'E Learnings', add_method: true } %>
    <div class="widget-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Action</th>
            <th>Title</th>
            <th>Status</th>
            <th>User</th>
            <th>Category</th>
            <th>Created At</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @collection.each do |resource| %>
            <tr>
              <td><%= check_box_tag "ids[]", resource.id %></td>
              <td><%= resource.title %></td>
              <td><%= resource.status? %></td>
              <td><b><%= resource.try(:user).try(:username) %></b></td>
              <td><%= resource.try(:category_elearning).try(:name) %></td>
              <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
              <td class="text-center">
                <%= render partial: 'backend/shareds/prepare_action', 
                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination">
        <%= paginate @collection %>
      </div>
    </div>
  </div>
<% end %>
