<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-main">
            <div class="widget-main-title">
              <h4 class="widget-title">
                Events
              </h4>
            </div> <!-- /.widget-main-title -->
            <div class="widget-inner">
              <% @collection.each do |resource| %>
                <div class="event-small-list clearfix">
                  <div class="calendar-small">
                    <span class="s-month">
                      <%= resource.try(:created_at).strftime("%B") if resource.created_at %>
                    </span>
                    <span class="s-date">
                      <%= resource.try(:event_at).strftime("%d") if resource.event_at %>
                    </span>
                  </div>
                  <div class="event-small-details">
                    <h5 class="event-small-title">
                      <%= link_to event_path(resource) do %>
                        <%= resource.title %>
                      <% end %>
                    </h5>
                    <p class="event-small-meta small-text">
                      <i class="fa fa-calendar-o"></i>
                      <span class="grey">
                        Waktu : <%= resource.try(:event_at).strftime("%B, %d, %Y") if resource.event_at %>
                      </span> | 
                      <i class="fa fa-flag"></i> 
                      <span class="grey"> <%= resource.place %></span> | 
                      <i class="fa fa-eye"></i>
                      <span class="grey">
                        <%= resource.impressionist_count %> orang melihat ini
                      </span>
                    </p>
                  </div>
                </div>
              <% end %>
            </div> <!-- /.widget-inner -->
          </div>
        </div>
      </div>
      <%= paginate @collection %>
    </div>
    <div class="col-md-4">
      <%= render 'shareds/home/our_side_right_info' %>
      <%= render 'shareds/home/our_testimonial' %>
      <%= render 'shareds/home/our_gallery' %>
    </div>
  </div>
</div>
