<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-post-container">
            <div class="blog-post-inner">
              <h3 class="blog-post-title"><%= resource.title %></h3>
              <i class="fa fa-user"></i> 
              <span class="grey"><%= resource.try(:user).try(:username) %></span>
              <i class="fa fa-calendar-o"></i>
              <span class="grey">Waktu : <%= resource.try(:event_at).strftime("%B, %d, %Y") if resource.event_at %></span>
              <i class="fa fa-flag"></i> 
              <span class="grey"><%= resource.place %></span>
              <i class="fa fa-eye"></i>
              <span class="grey">
                <%= resource.impressionist_count %> orang melihat ini
              </span>
              <br>
              <%= resource.description.html_safe if resource.description %>
            </div>
          </div> <!-- /.blog-post-container -->
        </div> <!-- /.col-md-12 -->
      </div>
      <%= render 'shareds/comment' %>
      
    </div>
    <div class="col-md-4">
      <%= render 'shareds/home/our_side_right_info' %>
      <%= render 'shareds/home/our_testimonial' %>
      <%= render 'shareds/home/our_gallery' %>
    </div>
  </div>
</div>