<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-main">
            <div class="widget-main-title">
              <h4 class="widget-title">
                Info Terbaru
              </h4>
            </div>
            <div class="widget-inner">
              <% @collection.each do |resource| %>
                <div class="prof-list-item clearfix">
                  <div class="col-md-4">
                    <%= image_tag resource.file.url(:medium), class: 'full-width' %>       
                  </div>
                  <div class="col-md-8">
                    <%= link_to news_path(resource) do %>
                      <h5 class="prof-name-list"><%= resource.title %></h5>
                    <% end %>
                    <i class="fa fa-calendar-o"></i>
                    <span class="grey">
                      <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                    </span>
                    <i class="fa fa-eye"></i>
                    <span class="grey">
                      <%= resource.impressionist_count %> orang melihat ini
                    </span>
                    <p class="small-text">
                      <%= truncate(strip_tags(resource.description.to_s), length: 120, omission: ' ...') %>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= paginate @collection %>
    </div>
    <div class="col-md-4">
      <%= render 'shareds/home/our_side_right_info' %>
      <%= render 'shareds/home/our_testimonial' %>
      <%= render 'shareds/home/our_gallery' %>
    </div>
  </div>
</div>
