<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-post-container">
            <div class="blog-post-image">
              <%= image_tag resource.file.url(:large) %>
              <div class="blog-post-meta">
                <ul>
                  <li>
                    <i class="fa fa-calendar-o"></i>
                    <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                  </li>
                  <li>
                    <a href="#blog-comments">
                      <i class="fa fa-comments"></i><%= resource.comments.size %> comments
                    </a>
                  </li>
                  <li>
                    <i class="fa fa-eye"></i>
                    <%= resource.impressionist_count %> orang melihat ini
                  </li>
                  <li><a href="#blog-author"><i class="fa fa-user"></i>Admin</a></li>
                </ul>
              </div> <!-- /.blog-post-meta -->
            </div> <!-- /.blog-post-image -->
            <div class="blog-post-inner">
              <h3 class="blog-post-title"><%= resource.title %></h3>
              <%= resource.description.html_safe if resource.description %>
            </div>
          </div> <!-- /.blog-post-container -->
        </div> <!-- /.col-md-12 -->
      </div>
      <%= render 'shareds/comment' %>
      
    </div>
    <div class="col-md-4">
      <%= render 'shareds/home/our_side_right_info' %>
      <%= render 'shareds/home/our_testimonial' %>
      <%= render 'shareds/home/our_gallery' %>
    </div>
  </div>
</div>