
<div class="widget widget-padding">
  <div class="filter margin-top20">
    <%= form_tag collection_path, method: 'get' do |f| %>
      <div class="row-fluid">
        <div class="widget-forms clearfix">
          <div class="control-group">
            <label class="control-label">Search Bar :</label>
            <div class="controls">
              <% if params[:controller] == 'backend/tickets' %>
                <%= select_tag :departement, options_for_select(departement, params[:departement]), prompt: 'Select Departement' %>
                <%= select_tag :priority, options_for_select(priority, params[:priority]), prompt: 'Select Priority' %>
              <% end %>
              <% if params[:controller] == 'backend/members' %>
                 <%= select_tag :staff, options_for_select(staff, params[:staff]), prompt: 'Select Type' %>
              <% end %>
              <%= text_field_tag :key, params[:key], class: "span4" %>
              <%= submit_tag :search, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>