<div class="widget widget-padding">
  <div class="filter margin-top20">
    <%= form_tag collection_path, method: 'get' do |f| %>
      <div class="row-fluid">
        <div class="widget-forms clearfix">
          <div class="control-group">
            <label class="control-label">Search Results <b><%= collection.size %></b></label>
            <div class="controls">
              <%= select_tag :generation, options_for_select(user_generation, params[:generation]), prompt: "Select Generation ", class: 'span2' %>
              <%= select_tag :study_program, options_for_select(user_program, params[:study_program]), prompt: 'Study Program', class: 'span2' %>
              <%= text_field_tag :name, nil, value: params[:name], class: "span6" %>
              <%= submit_tag :search, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>