<div class="widget widget-padding">
  <div class="filter margin-top20">
    <%= form_tag collection_path, method: 'get' do |f| %>
      <div class="row-fluid">
        <div class="widget-forms clearfix">
          <div class="control-group">
            <label class="control-label">Search Results <b><%= collection.size %></b></label>
            <div class="controls">
              <%= text_field_tag :title, nil, value: params[:title], class: "span6" %>
              <%= submit_tag :search, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>