<div class="row-fluid">
  <%= render 'backend/shareds/breadcrumb' %>
  <h2 class="heading">
    <%= table_name %>
    <div class="btn-group pull-right">
      <% if params[:action] == 'index' %>
        <%= submit_tag 'Change Verify Selected', class: 'btn btn-sm btn-info active'%>
      <% end unless current_user.staff? %>
      <%= link_to new_resource_path do %>
        <span class="btn"><i class="icon-pencil"></i> Create New</span>
      <% end %>
      <%= link_to collection_path do %>
        <span class="btn"><i class="icon-list-alt"></i> List</span>
      <% end %>
      <% unless current_user.staff? %>
        <button type="submit" class="btn" name="commit" value="Deleted">
          <i class="icon-trash"></i> Delete Selected
        </button>
      <% end %>
    </div>
  </h2>
</div>

<div class="widget widget-padding">
  <div class="widget-header">
    <i class="icon-list-alt"></i>
    <h5><%= table_name %></h5>
    <div class="widget-buttons">
      <a href="#" data-title="Collapse" data-collapsed="false" class="collapse">
        <i class="icon-chevron-up"></i>
      </a>
    </div>
  </div>