<h2 class="margin-top0">
  <div class="row">
    <div class="col-md-7">
      <%= table_name %>
    </div>
    <div class="col-md-5">
      <% unless params[:controller] == 'member/tickets' %>
        <button type="submit" class="btn btn-sm btn-danger pull-right"><i class="fa fa-trash"></i> Delete selected</button>
      <% end %>
      <%= link_to new_resource_path, class: "btn btn-info btn-sm pull-right margin-right5" do %> 
        <i class="fa fa-plus-circle"></i> Sell New
      <% end %>
    </div>
  </div>
</h2>