<div class="sidebar-nav nav-collapse collapse">
  <div class="user_side clearfix">
    <%= image_tag current_user.try(:profile).try(:avatar).url(:small) %>
    <h5><%= current_user.username %></h5>
    <% if current_user.student? %>
      <%= link_to edit_user_student_path(current_user) do %>
        <i class="icon-cog"></i> Settings
      <% end %> 
    <% elsif current_user.alumni? %>
      <%= link_to edit_user_alumni_path(current_user) do %>
        <i class="icon-cog"></i> Settings
      <% end %> 
    <% else %>
      <%= link_to edit_user_user_company_path(current_user) do %>
        <i class="icon-cog"></i> Settings
      <% end %>
    <% end %> 
  </div>

  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to user_home_path, class: "accordion-toggle b_F79999" do %>
          <i class="icon-dashboard"></i> DASHBOARD
        <% end %>
      </div>
    </div>
    <% if current_user.company? || current_user.alumni? %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion12" href="#collapse12"><i class="icon-heart-empty"></i> JOB CENTER</a>
        </div>
        <div id="collapse12" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to new_user_job_path, class: "accordion-toggle #{active_sidebar?(:jobs, :new)}" do %>
              <i class=" icon-plus"></i> Create New
            <% end %>
            <%= link_to user_jobs_path, class: "accordion-toggle #{active_sidebar?(:jobs, :all)}" do %>
              <i class="icon-reorder"></i> List Jobs
            <% end %>
          </div>
        </div>
      </div> 
    <% end %>

    <% if current_user.student? || current_user.alumni? %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapse4"><i class="icon-list-alt"></i> ARTICLES</a>
        </div>
        <div id="collapse4" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to new_user_article_path, class: "accordion-toggle #{active_sidebar?(:articles, :new)}" do %>
              <i class=" icon-plus"></i> Create New
            <% end %>
            <%= link_to user_articles_path, class: "accordion-toggle #{active_sidebar?(:articles, :all)}" do %>
              <i class="icon-reorder"></i> List Article
            <% end %>
          </div>
        </div>
      </div>   
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion5" href="#collapse5"><i class="icon-th"></i> BLOGS</a>
        </div>
        <div id="collapse5" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to new_user_blog_path, class: "accordion-toggle #{active_sidebar?(:blogs, :new)}" do %>
              <i class=" icon-plus"></i> Create New
            <% end %>
            <%= link_to user_blogs_path, class: "accordion-toggle #{active_sidebar?(:blogs, :all)}" do %>
              <i class="icon-reorder"></i> List Blogs
            <% end %>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion9" href="#collapse9"><i class="icon-exclamation-sign"></i> INFORMATIONS</a>
        </div>
        <div id="collapse9" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= link_to user_events_path, class: "accordion-toggle #{active_sidebar?(:events, :all)}" do %>
              <i class="icon-reorder"></i> List Events
            <% end %>
          </div>
        </div>
      </div> 
    <% end %>
  </div>
</div>
<!-- /Side menu -->