<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-main">
            <div class="widget-inner">
              <div class="course-search">
                <h3>Cari File E-Learnings</h3>
                <%= form_for :search, method: 'get', url: e_learnings_path, 
                              html: {class: "course-search-form"} do |f| %>
                  <div id="search_advanced" class="clearfix">
                    <p class="search-form-item">
                      <% value_category_elearning = params[:search][:category_elearning] if params[:search].present? %>
                      <%= f.collection_select(:category_elearning, CategoryElearning.arrange_as_array({:order => 'name'}), :name, :name_for_selects, {:prompt=> "Pilih Kategori"}, {class: "searchselect"})%>
                    </p>
                  </div>
                  <% value_title = params[:search][:title] if params[:search].present? %>
                  <%= f.text_field :title, value: value_title, class: 'searchbox', placeholder: 'Masukan Judul' %>
                  <input class="mainBtn" value="Submit Search" type="submit" />
                <% end %>
              </div>
            </div> <!-- /.widget-inner -->
          </div> <!-- /.widget-main -->
        </div> <!-- /.col-md-12 -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="widget-main">
            <div class="widget-inner">
              <dl class="course-list" role="tablist">
                <% @collection.each do |resource| %>
                  <dt>
                    <i class="fa fa-caret-right ui-icon"></i>
                    <span class="level"><%= resource.try(:category_elearning).try(:name) %> </span>
                    <%= link_to document_download_e_learning_path(resource) do %>
                      <span class="label label-success margin-right10">
                        <%= resource.try(:user).try(:username) %>
                      </span> 
                      <i class="fa fa-download fa-lg"></i> <%= resource.title %>
                    <% end %>
                  </dt>
                <% end %>
              </dl>
              <%= paginate @collection %>
            </div> <!-- /.widget-inner -->
          </div> <!-- /.widget-main -->
        </div> <!-- /.col-md-12 -->
      </div>
    </div>

    <div class="col-md-4">
      <%= render 'shareds/home/our_side_right_info' %>
      <%= render 'shareds/home/our_testimonial' %>
      <%= render 'shareds/home/our_gallery' %>
    </div>
  </div>
</div>