<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item">
            <h2 class="welcome-text"><%= @setting.title %></h2>
            <p><%= @setting.description.html_safe if @setting.description %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <%= render 'shareds/home/our_prodi' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group margin-top30">
        <a href="#" class="list-group-item active">
          Tentang Kami
        </a>
        <% @about_us.each do |resource| %>
          <%= link_to page_path(resource), class: 'list-group-item' do %>
            <%= resource.title %>
          <% end %>
        <% end %>
      </div>
      <%= render 'shareds/home/form_request' %>
    </div>
  </div>
</div>

    