<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-item">
            <h2 class="welcome-text"><%= resource.title %></h2>
            <p><%= resource.description.html_safe if resource.description %></p>
            <p>
              <i class="fa fa-eye"></i>
              <span class="grey">
                <%= resource.impressionist_count %> orang melihat halaman ini
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group margin-top30">
        <a href="#" class="list-group-item active">
          Tentang Kami
        </a>
        <% @about_us.each do |resource| %>
          <%= link_to page_path(resource), class: 'list-group-item' do %>
            <%= resource.title %>
          <% end %>
        <% end %>
      </div>
      <div class="list-group margin-top30">
        <a href="#" class="list-group-item active">
          Program Studi
        </a>
        <% @study_program.each do |resource| %>
          <%= link_to page_path(resource), class: 'list-group-item' do %>
            <%= resource.title %>
          <% end %>
        <% end %>
      </div>
      <%= render 'shareds/home/form_request' %>
    </div>
  </div>
</div>

    