<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   
  <fieldset>
    <div class="form-group">
      <div class="controls">
        <%= f.text_field :login, class: "form-control", placeholder: "Username or Email" %>
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <div class="controls">
        <%= f.password_field :password, class: "form-control password", placeholder: "Password" %>
      </div>
    </div>

    <div class="col-md-12 margin-bottom10 padding0">
      <%= f.check_box :remember_me, class: "grey remember" %>
      <span>Biarkan saya tetap masuk</span>
    </div>
    <div class="col-md-12 margin-bottom10 padding0">
      <%= link_to 'Lupa Kata Sandi', new_user_password_path %>
    </div>

    <!-- Button -->
    <div class="form-group">
      <div class="controls">
        <%= f.submit 'SignIn',  class: "btn btn-lg btn-primary btn-block" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        Not Member? <%= link_to 'Register', new_registration_path(resource_name) %> or <%= link_to 'Forgot Password', new_user_password_path %>
      </div>
    </div>
  </fieldset>
<% end %>