<div class="row-fluid">
  <div class="overview_boxes">
    <div class="box_row clearfix">
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
          <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#98E5EA" class="icon-user"></i>
              <p style="color:#98E5EA"><%= latest_students.size %></p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="<%= latest_students.size %>"> 
            </div>
            <p><strong><%= latest_students.size %></strong>Student</p>
          </a>
        </div>
      </div>
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
          <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#98E5EA" class="icon-user"></i>
              <p style="color:#98E5EA"><%= latest_alumnus.size %></p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="<%= latest_alumnus.size %>">  
            </div>
            <p><strong><%= latest_alumnus.size %></strong>Alumnus</p>
          </a>
        </div>
      </div>
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
          <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#98E5EA" class="icon-user"></i>
              <p style="color:#98E5EA"><%= latest_staff.size %></p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="<%= latest_staff.size %>">   
            </div>
            <p><strong><%= latest_staff.size %></strong>Staff</p>
          </a>
        </div>
      </div>
    </div> 
    <div class="box_row clearfix">
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
          <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#98E5EA" class="icon-user"></i>
              <p style="color:#98E5EA"><%= latest_companies.size %></p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="<%= latest_companies.size %>">
            </div>
            <p><strong><%= latest_companies.size %></strong>Company</p>
          </a>
        </div>
      </div>
    </div> 
  </div>
</div>