<div class="row-fluid">
  <div class="widget span4">
    <div class="widget-header">
      <i class="icon-bar-chart"></i>
      <h5>Weekly Statistics</h5>
      <div class="widget-buttons">
          <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
      </div>
    </div>  
    <div class="widget-body clearfix">
      <div class="widget-analytics-small">
        <ul>
          <li>
            <span class="inlinesparkline">1,5,10,5,25,30,12,22</span>
            <h5>Visits:</h5>
            <h4>502</h4>
          </li>
          <li>
            <span class="inlinesparkline">5,4,5,7,8,1,1,20,2</span>
            <h5>Unique Visitors:</h5>
            <h4>420</h4>
          </li>
          <li>
            <span class="inlinesparkline">5,3,3,98,102,155,150,187,196</span>
            <h5>Pageviews:</h5>
            <h4>2054</h4>
          </li>
          <li>
            <span class="inlinesparkline">5,44,53,66,378,771,341,520,452</span>
            <h5>Pages / Visit:</h5>
            <h4>5.8</h4>
          </li>
          <li>
            <span class="inlinesparkline">5,4,35,57,28,16,11,20,72</span>
            <h5>Avg. Visit Duration:</h5>
            <h4>00:10:34</h4>
          </li>
          <li>
            <span class="inlinesparkline">52,44,65,27,86,14,16,40,22</span>
            <h5>Bounce Rate:</h5>
            <h4>30.30%</h4>
          </li>
          <li>
            <span class="inlinesparkline">5,6,7,9,10,20,25,22,21</span>
            <h5>% New Visits:</h5>
            <h4>29.35%</h4>
          </li>
        </ul>
      </div>
    </div> <!-- /widget body -->
  </div> <!-- /widget span12 -->
  <div class="widget span8">
    <div class="widget-header">
      <i class="icon-credit-card"></i>
      <h5>Last 3 month's income</h5>
      <div class="widget-buttons">
          <button class="btn btn-info btn-small" type="button"><i class="icon-plus"></i> See more</button>
          <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
      </div>
    </div>
    <div class="widget-body clearfix">
      <div style="height:274px;" id="graph" class="widget-analytics-large"></div>
    </div>
  </div>
</div>