<div class="row-fluid margin-top20 nested-fields">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <i class=" icon-picture"></i> 
      <h5>
      	Gallery Picture
    	</h5>
    	<div class="widget-buttons">
    		<%= link_to_remove_association "<i class='icon-trash'></i> remove".html_safe, f , class: 'collapse' %>
    	</div>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
			  <div class="span9">
	        <div class="control-group">
	          <label class="control-label">Title</label>
	          <div class="controls">
	            <%= f.text_field :title, class: 'span12' %> 
	          </div>
	        </div>
	        <div class="control-group">
	          <label class="control-label">Description</label>
	          <div class="controls">
	            <%= f.text_area :description, class: 'span12 height-100' %> 
	          </div>
	        </div>
      	</div>
      	<div class="span3">
			  	<%= image_tag f.object.file.url(:small), style: 'width:100%' %>
			  	<%= f.file_field :file, class: 'form-control' %>
			  </div>
      </div>
    </div>
  </div>
</div>

