<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
    	<i class="icon-bookmark"></i> 
    	<h5>Profile</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
      	<% if params[:controller] == 'backend/students' || params[:controller] == 'backend/alumnis' %>
	      	<div class="control-group">
			      <label class="control-label">Nim</label>
			      <div class="controls">
			        <%= f.text_field :nim, class: 'span7' %> 
			      </div>
			    </div>
			    <div class="control-group">
			      <label class="control-label">Generation</label>
			      <div class="controls">
			        <%= f.select :generation, options_for_select(user_generation, resource.try(:profile).try(:generation)), {:prompt=> "Select Generation "}, { class: 'form-control' } %>
			      </div>
			    </div>
			    <div class="control-group">
			      <label class="control-label">Study Program</label>
			      <div class="controls">
			        <%= f.select :study_program, options_for_select(user_program, resource.try(:profile).try(:study_program)), {:prompt=> "Select Gender "}, { class: 'form-control' } %>
			      </div>
			    </div>
		    <% end %>

        <div class="control-group">
		      <label class="control-label">Full Name</label>
		      <div class="controls">
		        <%= f.text_field :full_name, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Birthday</label>
		      <div class="controls">
		        <%= f.date_select :birthday, {
              start_year: (Date.today.year-100), 
              end_year:   (Date.today.year-17), 
              order: [:day, :month, :year], 
              prompt: { 
                day:   'Tanggal', 
                month: 'Bulan', 
                year:  'Tahun'
              }},
              {required: true, class: 'form-control span7 datepicker', style: 'width: 30%; margin-right: 5px;'} %>
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Gender</label>
		      <div class="controls">
		        <%= f.select :gender, options_for_select(sex, resource.try(:profile).try(:gender)), {:prompt=> "Select Gender "}, { class: 'form-control' } %>
		      </div>
		    </div>

		    <div class="control-group">
		      <label class="control-label">Phone</label>
		      <div class="controls">
		        <%= f.text_field :phone, class: 'span7' %> 
		      </div>
		    </div>
      </div>
    </div>
  </div>
</div>
