<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
    	<i class="icon-bookmark"></i> 
    	<h5>Data Company</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
        <div class="control-group">
		      <label class="control-label">Name</label>
		      <div class="controls">
		        <%= f.text_field :name, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
				  <label class="control-label">Description</label>
				  <div class="controls">
				    <%= f.cktext_area :description, ckeditor: {uiColor: '#AADC6E', toolbar: 'mini'} %>
				  </div>
				</div>
				<div class="control-group">
		      <label class="control-label">Address</label>
		      <div class="controls">
		        <%= f.text_area :address, class: 'span7' %> 
		      </div>
		    </div>
				<div class="control-group">
		      <label class="control-label">Phone</label>
		      <div class="controls">
		        <%= f.text_field :phone, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Website</label>
		      <div class="controls">
		        <%= f.text_field :website, class: 'span7' %> 
		      </div>
		    </div>
      </div>
    </div>
  </div>
</div>











