<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="widget-main">
            <div class="widget-main-title">
              <h4 class="widget-title">
                Informasi Akademik
              </h4>
            </div> <!-- /.widget-main-title -->
            <div class="widget-inner">
              <% @collection.each do |resource| %>
                <div class="blog-list-post clearfix">
                  <div class="blog-list-details">
                    <h5 class="blog-list-title">
                      <%= link_to academic_info_path(resource) do %>
                        <%= resource.title %>
                      <% end %>
                    </h5>
                    <p class="blog-list-meta small-text">
                      <i class="fa fa-calendar-o"></i>
                      <span class="grey">
                        <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                      </span>
                      <i class="fa fa-comments"></i>
                      <span class="grey">
                        <%= resource.comments.size %> comments
                      </span>
                      <i class="fa fa-eye"></i>
                      <span class="grey">
                        <%= resource.impressionist_count %> orang melihat ini
                      </span>
                    </p>
                  </div>
                </div> <!-- /.blog-list-post -->
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= paginate @collection %>
    </div>
    <div class="col-md-4">
      <%= render 'shareds/home/our_side_right_info' %>
      <%= render 'shareds/home/our_testimonial' %>
      <%= render 'shareds/home/our_gallery' %>
    </div>
  </div>
</div>
