.hg-title{
  min-height: 48px;
  padding: 10px;
}
.height390{
  min-height: 400px;
}
.welcome{
  padding: 5px 5px;
}
.small-link-top li{
  float: right;
  list-style: none;
  padding: 5px 5px;
  margin-left: 10px;
}
.list-group-item.active{
  background: #384452!important;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}
.container .alert{
  margin-bottom: 0!important;
}
.top_header_account{
  background: #384452;
  color: #fff;
  top: 0;
}
.top_header_account a{
  color: #fff;
}
.float-right{
  float: right!important;
}
.float-left{
  float: left!important;
}

.margin-top10{
	margin-top: 10px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-top30{
	margin-top: 30px;
}
.margin-bottom10{
	margin-bottom: 10px;
}
.margin-bottom20{
	margin-bottom: 20px;
}
.margin-bottom30{
	margin-bottom: 30px;
}
.margin-bottom50{
  margin-bottom: 50px;
}
.margin-right10{
  margin-right: 10px;
}
.bdr-type-user{
  border: solid 1px #ccc;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
.bdr-type-user input{
  line-height: 50px;
}
.btn-primary-fb {
  color: #fff;
  background-color: #3a599c;
  border-color: #357ebd;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
.btn-primary-fb:hover{
  opacity: 0.9;
  color: #fff;
}
.omb-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block;
}
.omb-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}
.full-width{
  width: 100%;
}
.grey{
  color: #ccc;
}
.blog-post-inner span, .blog-post-inner i{
  margin-right: 6px;
}
