<div class="widget-item">
  <div class="request-information">
    <h4 class="widget-title">Buku Tamu</h4>
    <%= form_for GuestBook.new, method: 'post', url: guest_books_path, html: {class: 'request-info clearfix'} do |f| %>
      <div class="full-row">
        <label for="yourname">Nama:</label>
        <%= f.text_field :name, required: true %>
      </div>
      <div class="full-row">
        <label for="email-id">Alamat Email:</label>
        <%= f.email_field :email, required: true %>
      </div>
      <div class="full-row">
        <label for="email-id">Pesan:</label>
        <%= f.text_area :message, class: 'form-control', style: 'height: 105px;' %>
      </div>
      <div class="full-row">
        <%= recaptcha_tags %>
      </div>
      <div class="full-row">
        <div class="submit_field">
          <span class="small-text pull-left"></span>
          <input class="mainBtn pull-right" type="submit" name="" value="Kirim Pesan" />
        </div>
      </div>
    <% end %>
  </div>
</div>