<div class="widget-main">
  <div class="widget-main-title">
    <h4 class="widget-title">
      Events
      <%= link_to 'More', events_path, class: 'float-right' %>
    </h4>
  </div> <!-- /.widget-main-title -->
  <div class="widget-inner <%= 'height400' if params[:action] == 'home' %>">
    <% @events.each do |resource| %>
      <div class="event-small-list clearfix">
        <div class="calendar-small">
          <span class="s-month">
            <%= resource.try(:created_at).strftime("%B") if resource.created_at %>
          </span>
          <span class="s-date">
            <%= resource.try(:event_at).strftime("%d") if resource.event_at %>
          </span>
        </div>
        <div class="event-small-details">
          <h5 class="event-small-title">
            <%= link_to event_path(resource) do %>
              <%= resource.title %>
            <% end %>
          </h5>
          <p class="event-small-meta small-text">
            Lokasi : <%= resource.place %>
          </p>
        </div>
      </div>
    <% end %>
  </div> <!-- /.widget-inner -->
</div>