<div class="widget-main">
  <div class="widget-main-title">
    <h4 class="widget-title">
      Informasi Akademik
      <%= link_to 'More', academic_infos_path, class: 'float-right' %>
    </h4>
  </div> <!-- /.widget-main-title -->
  <div class="widget-inner <%= 'height400' if params[:action] == 'home' %>">
    <% @latest_academic.each do |resource| %>
      <div class="blog-list-post clearfix">
        <div class="blog-list-details">
          <h5 class="blog-list-title">
            <%= link_to academic_info_path(resource) do %>
              <%= resource.title %>
            <% end %>
          </h5>
          <p class="blog-list-meta small-text">
            <i class="fa fa-calendar-o"></i>
            <span class="grey">
              <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
            </span>
            <i class="fa fa-eye"></i>
            <span class="grey">
              <%= resource.impressionist_count %> orang melihat ini
            </span>
          </p>
        </div>
      </div> <!-- /.blog-list-post -->
    <% end %>
  </div>
</div>