<div class="widget-main">
  <div class="widget-main-title">
    <h4 class="widget-title">Galleri Foto</h4>
  </div>
  <div class="widget-inner">
    <div class="gallery-small-thumbs clearfix">
      <% @galleries.each do |resource| %>
        <div class="thumb-small-gallery">
          <a class="fancybox" rel="gallery1" href="<%= resource.file.url %>" title="<%= resource.title %>">
            <%= image_tag resource.file.url(:thumb) %>
          </a>
        </div>
      <% end %>
    </div> <!-- /.galler-small-thumbs -->
  </div> <!-- /.widget-inner -->
</div>