<div class="widget-main">
  <div class="widget-main-title">
    <h4 class="widget-title">Pengumuman</h4>
  </div>
  <div class="widget-inner">
    <div id="slider-testimonials">
      <ul>
        <% @announcements.each do |resource| %>
          <li>
            <p>
              <%= resource.description.html_safe if resource.description.present? %>
              <strong class="dark-text"><%= resource.try(:user).try(:username) %></strong>
            </p>
          </li>
        <% end %>
      </ul>
      <a class="prev fa fa-angle-left" href="./index.html"></a>
      <a class="next fa fa-angle-right" href="./index.html"></a>
    </div>
  </div>
</div>