<div class="col-md-12">
  <div class="widget-main">
    <div class="widget-inner">
      <div class="our-campus clearfix">
        <ul class="row">
          <% @supporteds.each do |resource| %>
            <li class="col-md-3 col-xs-3">
              <a href="<%= resource.link_url %>">
                <%= image_tag resource.file.url(:medium), class: 'full-width' %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div> <!-- /.widget-main -->
</div>