<div class="widget-main">
  <div class="widget-main-title">
    <h4 class="widget-title">
      Info Terbaru
      <%= link_to 'More', news_index_path, class: 'float-right' %>
    </h4>
  </div>
  <div class="widget-inner">
    <% @latest_news.each do |resource| %>
      <div class="prof-list-item clearfix">
        <div class="prof-thumb">
          <%= image_tag resource.file.url(:medium) %>       
        </div>
        <div class="prof-details">
          <%= link_to news_path(resource) do %>
            <h5 class="prof-name-list"><%= resource.title %></h5>
          <% end %>
          <p class="small-text">
            <%= truncate(strip_tags(resource.description.to_s), length: 80, omission: ' ...') %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>