<div class="col-md-12">
  <div class="main-slideshow">
    <div class="flexslider">
      <ul class="slides">
        <% @setting.galleries.latest.each do |resource| %>
          <li>
            <%= image_tag resource.file.url(:medium) %>
            <div class="slider-caption">
              <h2><a href="#"><%= resource.title %></a></h2>
              <p><%= resource.description %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>