<% unless current_user.staff? %>
  <div class="control-group">
    <label class="control-label">Status Publish</label>
    <div class="controls">
      <%= f.check_box :status, class: 'span1' %> 
    </div>
  </div>
<% end %>
<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, class: 'form-control span7', required: true %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Description</label>
  <div class="controls">
    <%= f.cktext_area :description, ckeditor: {uiColor: '#AADC6E', toolbar: 'mini'} %>
  </div>
</div>
