<!DOCTYPE html>
<html>
	<head>
	  <title><%= @setting.title %></title>
	  <%= render 'shareds/head' %>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="top_header_account col-md-12">
			<div class="container">
				<div class="col-md-6">
					<div class="welcome">
						Selamat datang di website resmi, STIE PGRI Sukabumi <b><%= current_user.email if current_user %> !</b>
					</div>
				</div>
				<div class="col-md-6">
					<ul class="small-link-top">
						<% if current_user %>
							<li>
								<%= link_to 'LogOut'.html_safe, destroy_user_session_path, method: 'delete', class: 'float-right' %>
							</li>
							<% unless current_user.admin? && current_user.staff? %>
								<li>
									<%= link_to 'Beranda'.html_safe, user_home_path, class: 'float-right' %> 
								</li>
							<% end %>
						<% else %>
							<li>
								<%= link_to 'Register'.html_safe, new_user_registration_path, class: 'float-right' %>
							</li>
							<li>
								<%= link_to 'Login'.html_safe, new_user_session_path, class: 'float-right' %> 
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>

		<%= render 'shareds/top_menu' %>
    <%= render 'shareds/header' %>
    <%= render 'shareds/breadcrumb' unless params[:action] == 'home' %>
    <div class="container">
    	<%= flash_messages %>
  	</div>
		<%= yield %>

		<%= render 'shareds/footer' %>
	</body>
	<%= javascript_include_tag 'application' %>
</html>