<!DOCTYPE html>
<html>
	<head>
	  <title>STIE PGRI SUKABUMI - Home Page</title>
	  <%= render 'shareds/head' %>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="top_header_account col-md-12">
			<div class="container">
				<div class="col-md-6">
					Selamat datang di website resmi, STIE PGRI Sukabumi <b><%= current_user.email if current_user %> !</b>
				</div>
				<div class="col-md-6">
					<ul class="small-link-top">
						<% if current_user %>
							<li>
								<%= link_to 'LogOut'.html_safe, destroy_user_session_path, method: 'delete', class: 'float-right' %>
							</li>
							<% unless current_user.admin? && current_user.staff? %>
								<li>
									<%= link_to 'Beranda'.html_safe, user_home_path, class: 'float-right' %> 
								</li>
							<% end %>
						<% else %>
							<li>
								<%= link_to 'Register'.html_safe, new_user_registration_path, class: 'float-right' %>
							</li>
							<li>
								<%= link_to 'Login'.html_safe, new_user_session_path, class: 'float-right' %> 
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		
		<%= render 'shareds/top_menu' %>
    <%= render 'shareds/header' %>

		<div class="container margin-top30">
			<%= flash_messages %>
		  <div class="row vertical-offset-100">
		    <div class="<%= if params[:controller] == 'registrations' &&  params[:action] == 'new'
		    'col-md-10 col-md-offset-1' else 'col-md-4 col-md-offset-4' end %>">
		      <div class="panel panel-default">
		        <div class="panel-heading">                                
		          <div class="row-fluid user-row">
		            <h4 align="center">STIE PGRI SUKABUMI</h4>
		          </div>
		        </div>
		        <div class="panel-body">
							<%= yield %>
						</div>
		      </div>
		    </div>
		  </div>
		</div>

		<%= render 'shareds/footer' %>
	</body>
	<%= javascript_include_tag 'application' %>
</html>
