<!DOCTYPE html>
<html>
	<head>
	  <title>STIE PGRI SUKABUMI</title>
	  <%= stylesheet_link_tag 'backend', media: 'all' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrap">
			<%= render 'user/shareds/top_menu' %>
		  <div class="container-fluid">
		  	<%= render 'user/shareds/side_left' %>
		  	<div class="main_container" id="<%= 'dashboard_page' if params[:controller] == 'user/home' %>">
		  		<%= flash_messages %>
		    	<%= yield %>
		    </div>
		  </div>
		</div>
	</body>
  <%= javascript_include_tag 'backend' %> 
  <%= render "user/shareds/realm" %>
</html>